.header {
    display: flex;
    height: 100px;
    align-items: center;
    gap: 1rem;
    margin-bottom: 30px;

    @include tablet {
        margin-bottom: 10px;
    }

    @include phone {
        margin-bottom: 0;
    }

    &__logo {
        width: 100px;
    }

    h3 {
        font-weight: 700;
    }

    &__basket {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}