hr {
    width: 100%;
    size: 1px;
    height: 1px;
    margin: 10px auto 30px;
    color: rgb(230, 230, 230);
    background-color: rgb(230, 230, 230);
}

.navigation {
    display: flex;
    justify-content: space-between;
}